.b_main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/streetbg1.jpg");
}

.b_header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.b_header button {
  padding: 3px 20px;
  border: none;
  margin-right: 10px;
  /* background-color: black; */
  color: white;
  font-weight: 500;
}
/* 
.b_header button:nth-child(1) {
  background-color: white;
  color: black;
} */

.be_box {
  width: 95%;
  margin: 0 auto;
  padding: 4px 0;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #616161;
  color: white;
  border: 2px solid white;
}

.b_body {
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  height: 51%;
}

.b_list {
  width: 48%;
}

.b_list .obox_list ol {
  list-style: none;
  height: 172px;
}

.b_list .obox_list ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0 5px;
}

.b_list .obox_list ol li span {
  font-size: 0.8rem;
}

.bp_box {
  width: 48%;
  background-color: #211f24c7;
  padding: 10px;
  height: max-content;
}

.bp_1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.bp_1 img {
  width: 101px;
  margin-right: 20px;
}

.bp_1 > div span {
  color: white;
  font-size: 0.9rem;
  font-family: "Syne Mono", monospace;
}

.bp_1 > div button {
  padding: 3px 10px;
  border: none;
  background: #450203;
  color: white;
}

.bp_2 {
  width: 100%;
  margin: 5px 0 0 0;
}

.bp_2 p {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 0;
  font-family: "Syne Mono", monospace;
}

.b_main .gp_bottom {
  margin-top: 10px;
}

.b_main .gp_bottom button {
  width: 16%;
  /* background-color: black;
  color: white;
  border: 2px solid white; */
}

.b_main .gp_bottom input {
  background-color: white;
  color: black;
}

.b_main .gp_bottom input::placeholder {
  color: black;
  font-size: 1rem;
}

.street_list ol{
  height: 243px !important;
}

.sp_box {
  height: 213px;
  margin-top: 14px;
}