.home_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 57px 68px 0 68px;
  background-color: black;
  /* #232020e6 */
}

.h_box1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.h_logo {
  width: 100%;
}

.h_logo img {
  width: 100%;
}

.h_text {
  width: 100%;
  background-image: url("../../assets/h_bg1.webp");
}

.h_text p {
  width: 90%;
  margin: 24px auto;
  text-align: center;
  font-size: 1;
  color: white;
}

/*  */

.h_box2 {
  width: 25%;
}

.h_img1 {
  width: 100%;
}

.h_img1 img {
  width: 100%;
  height: 200px;
}

.h_img2 {
  width: 100%;
}

.h_img2 img {
  width: 100%;
  height: 200px;
}

.h_img3 {
  width: 100%;
}

.h_img3 img {
  width: 100%;
  height: 200px;
}

/*  */

.h_box3 {
  width: 35%;
  display: flex;
  flex-direction: column;
}


.h_tlabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h_tlabel span {
  font-size: 0.9rem;
  color: #C57E00;
  cursor: pointer;
  margin: 1rem 0;
}

.h_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/h_bg1.webp");
}

.h_form input {
  width: 100% !important;
  border-left: none;
  padding: 6px 0;
  font-size: 1.1rem;
  background: none;
  border-top: none;
  border-right: none;
  color: white !important;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}

.h_form input:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
}

.h_form button {
  background-color: transparent;
  color: #C57E00;
  font-weight: bold;
  width: max-content;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.h_form button:focus {
  box-shadow: none;
}

.h_form button:hover {
  color: #C57E00;
}

.h_form form {
  width: 80%;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.h_form form h2 {
  color: white;
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.h_form form label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #C57E00;
  margin-bottom: 0 !important;
}

.h_add {
  width: 100%;
}

.h_add img {
  width: 100%;
  /* height: 139px; */
}

@media (max-width: 768px) {
  .home_main {
    flex-direction: column;
  }
  .h_box1 {
    width: 100%;
    padding: 0 10px;
  }
  .h_box2 {
    margin: 1rem auto;
    width: 100%;
    display: flex;
  }
  .h_box2 img {
    width: 98%;
    height: 100%;
    object-fit: contain;
  }
  .h_box3 {
    width: 98%;
    margin: 1rem auto;
  }
  .h_form {
    margin: 1rem auto;
  }
}

@media (max-width: 600px) {
  .home_main {
    padding: 57px 10px 0 10px;
  }
}
