.home_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 57px 50px 0 50px;
  background-color: #232020e6;
  /* #232020e6 */
}

.h_box1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.h_logo {
  width: 100%;
}

.h_logo img {
  width: 100%;
}

.h_text {
  width: 100%;
  background-color: #000000e6;
}

.h_text p {
  width: 90%;
  margin: 24px auto;
  text-align: center;
  font-size: 1;
  color: white;
}

/*  */

.h_box2 {
  width: 30%;
}

.h_img1 {
  width: 100%;
}

.h_img1 img {
  width: 100%;
  height: 200px;
}

.h_img2 {
  width: 100%;
}

.h_img2 img {
  width: 100%;
  height: 200px;
}

.h_img3 {
  width: 100%;
}

.h_img3 img {
  width: 100%;
  height: 200px;
}

/*  */

.h_box3 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.h_table {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  background-color: #0000004f;
}

.h_table h2 {
  text-align: center;
  color: #3fd4bf;
}

.h_table thead {
  color: #de9726;
}

.h_table tbody th {
  color: white;
}

.h_table tbody tr {
  color: #3fd4bf;
  border-color: #de9726;
}

.h_tlabel span {
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  /* #BCB48D */
}

.h_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000e6;
}

.h_form button {
  background-color: #72faec;
  color: black;
  font-weight: bold;
}

.h_form form {
  width: 80%;
}

.h_form form h2 {
  color: white !important;
  font-size: 1.2rem;
  margin-top: 10px;
}

.h_form form label {
  font-size: 0.9rem;
  color: #72faec;
}

.h_add {
  width: 100%;
}

.h_add img {
  width: 100%;
  height: 120px;
}

@media (max-width: 768px) {
  .home_main {
    flex-direction: column;
  }
  .h_box1 {
    width: 100%;
    padding: 0 10px;
  }
  .h_box2 {
    margin: 1rem auto;
    width: 100%;
    display: flex;
  }
  .h_box2 img {
    width: 98%;
    height: 100%;
    object-fit: contain;
  }
  .h_box3 {
    width: 98%;
    margin: 1rem auto;
  }
  .h_form {
    margin: 1rem auto;
  }
}

@media (max-width: 600px) {
  .home_main {
    padding: 57px 10px 0 10px;
  }
  .h_form input {
    width: 63% !important;
  }
}
