@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&?family=Six+Caps&family=Special+Elite&?family=Syne+Mono&display=swap");

.text-orange {
  color: orange !important;
}

.travel_nav {
  width: 100%;
  background-color: #1f1e23;
  height: 45px;
  display: flex;
}

.tr_text {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
}

.tr_text h2 {
  margin: 0 !important;
  margin-left: -176px !important;
  font-family: "Special Elite", cursive;
}

.tr_dropdown {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
}

.tr_dropdown .dropdown {
  display: flex;
  align-items: center;
}

.drp_text {
  font-family: "Bebas Neue", cursive;
  margin: 7px 0 0 0 !important;
}

.tr_dropdown .dropdown button {
  margin: 0px 0 0 0 !important;
  color: white;
  font-size: 0.6rem;
  border: none;
  margin-left: 20px !important;
  font-weight: bold;
  /* font-family: "Bebas Neue", cursive; */
  font-family: "Syne Mono", monospace;
}

.travel_container {
  width: 100%;
  height: 85vh;
  /* background-position: center; */
  background-size: cover;
  /* background-color: #2b2b2b; */
  background-image: url("../../assets/travelbg.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.travel_hero {
  width: 94%;
  margin: 0.3rem auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.io_arrow {
  margin: 0 3px;
  font-size: 18px;
}

.travel_box {
  width: 80%;
  height: 97px;
  background-color: #343236cf;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.tbox_content {
  /* border: 3px solid yellow; */
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tbox_content h5 {
  color: white;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0 !important;
  /* font-weight: bold; */
}

.tbox_content span {
  color: white;
  font-family: "Syne Mono", monospace;
}

.tbox_content p {
  margin-bottom: 0 !important;
  font-size: 0.6rem;
  color: white;
}

.tbox_subcontent {
  width: 350px;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
}

.tbox_cost {
  /* border: 3px solid #8e2e2f; */
  font-family: "Bebas Neue", cursive;
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tbox_cost h5 {
  color: red;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0 !important;
}

.travel_box_btn {
  width: 20%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #18bcbb;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.travel_btn_img1 {
  background-image: url(../../assets/Gas-Station-Complaint.jpg);
}

.travel_btn_img2 {
  background-image: url(../../assets/Greyhound-1.jpg);
}

.travel_btn_img3 {
  background-image: url(../../assets/MW-HE536_airpla_20190225131547_ZQ.jpg);
}

.travel_box_btn h5 {
  font-weight: bold;
  color: black;
}

.risk_range {
  display: flex;
  align-items: center;
}

.risk_range span {
  font-size: 0.6rem;
}

.range {
  margin-left: 1.2rem;
}

.go {
  color: #ea890f;
  text-align: center;
  margin: 0 1rem;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}
