@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main_users_list {
  width: 100%;
  height: 56%;
  display: flex;
}
.user_wrapper {
  width: 100%;
  background-image: url(../../assets/Attachment_1616209950-1.jpeg);
  height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
}
.top_text_inven {
  width: 92%;
  margin: 0 auto;
}
.top_text_inven h2 {
  margin-top: 4px;
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.6rem;
}
.main_box {
  width: 39%;
  height: 200px;
  margin: 0 auto;
}
.mu_box {
  width: 91%;
  margin: 10px auto 0 auto;
  border: 1px solid gray;
  background-color: #090707b0;
}
.mu_top {
  color: #e0ece1;
}
.mu_top h2 {
  margin: 0;
  font-size: 1.3rem;
  padding: 4px 0;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}
.users_list {
  width: 100%;
  height: 180px;
  overflow-y: auto;
  background-color: #131313e8;
}
.user_list_item {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  color:white;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user_list_item hr {
  width: 37%;
  margin: 0;
  height: 2px;
}
.user_list_item h6 {
  margin: 0;
}
.user_list_item img {
  width: 40px;
}
.main_details {
  width: 100%;
  margin-top: 12px;
}
.main_details > h2 {
  margin: 0px auto;
  width: 92%;
  font-size: 20px;
  padding: 5px 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  background-color: #131313d4;
  color: white;
}
.main_details_box {
  width: 92%;
  height: 80px;
  background-color: #131313d4;
  display: flex;
  border: 1px solid #8080807d;
  box-shadow: 0px 2px 6px -2px #0a0101;
  margin: 0rem auto 0.5rem auto;
  align-items: center;
}
.user_info {
  margin-left: 2rem !important;
  color: #9ac7c8;
}
.main_details_box img {
  height: 70px;
  width: 60px;
  margin: 0 0.5rem;
  object-fit: contain;
}
.top_box_btns {
  width: 152px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.top_black_box {
  width: 178px;
  background-color: #000000cc;
  height: 213px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top_black_box img {
  width: 100%;
  height: 38px;
}
.top_black_box input {
  width: 100px;
  text-align: center;
}
.top_black_box input:focus{
  outline: none;
  box-shadow: none;
}
.top_black_box button {
  width: 100px;
  border: none;
  font-weight: 500;
  margin: 5px auto;
  background-color: transparent;
}
.top_black_box button:focus {
  outline: none;
  box-shadow: none;
}
.arrow_icon {
  /* background-image: url(../../assets/box_image.jpeg); */
  display: flex;
  justify-content: space-around;
  width: 152px;
  height: 82px;
  line-height: 5rem;
  align-items: center;
  flex-direction: column;
}
.arrow_icon button {
  border: none !important;
  display: flex;
  padding: 0;
  height: 41px;
  justify-content: center;
  width: 83px;
  border-radius: 3px;
  margin: 3px auto;
  align-items: center;
}
.arrow_icon button:focus {
  outline: none;
  box-shadow: none;
}
.arrow_icon img {
  width: 178px;
  object-fit: contain;
  height: 58px;
}
.dump_btn_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dump_btn_box button {
  border: none;
  margin: 0 1rem;
  color: #f3eaeab5;
  font-weight: bold;
  width: 69%;
  /* background-image: linear-gradient(to bottom, #4e5150, #525252, #213535); */
}
.dump_btn_box button:focus {
  box-shadow: none !important;
  background: 0 0;
  outline: none !important;
  border: none !important;
}
.form-check-input {
  width: 2em;
  height: 2em;
}

@media (max-width: 690px) {
  .arrow_icon svg {
    font-size: 32px;
  }
}
@media (max-width: 629px) {
  .t_list {
    display: none;
  }
  .top_text_inven h2 {
    margin-top: 0;
    font-size: 22px !important;
  }
  .user_info {
    margin-left: 1rem;
  }
  .user_list_item {
    height: 40px;
    border: 1px solid #0c0b0b;
  }
  .mu_box {
    border: 1px solid #0e0e0e;

  }
  .main_tabs .users_list {
    background-color: #1313131c;
  }
  .nav-pills .nav-link {
    font-weight: 500;
    font-family: "Bebas Neue", cursive;
  }
  .nav-pills .nav-link.active {
    font-family: "Bebas Neue", cursive;
    background-color: #111012;
  }
  .main_details_box {
    margin: 1rem auto 1rem auto;
    width: 92%;
  }
}
@media (max-width: 470px) {
  .main_details_box {
    margin: 0rem auto 1rem auto;
  }
}
@media (max-width: 375px) {
  .user_info {
    margin-left: 0.2rem !important;
  }
}
