.main_users_list {
  width: 100%;
  height: 56%;
  display: flex;
}
.user_wrapper {
  width: 100%;
  background-image: url(../../assets/Attachment_1616209950.jpeg);
  height: 100vh;
  /* padding-top: 0.6rem; */
  display: flex;
  background-size: cover;
  flex-direction: column;
}
.main_box {
  width: 40%;
  height: 200px;
  margin: 0 auto;
}
.mu_box {
  /* box-shadow: 1px 2px 8px 2px #80808063; */
}
.mu_top {
  color: #e0ece1;
}
.users_list {
  width: 100%;
  height: 180px;
  overflow-y: auto;
  background-color: #131313;
}
.user_list_item {
  width: 97%;
  margin: 0.5rem auto;
  /* padding: 12px; */
  height: 22px;
  color: #949494;
  /* background-color: white; */
  /* border: 1px solid #80808012; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 0px 3px 3px 0px #8888882b; */
}
.user_list_item h6 {
  margin: 0;
}
.user_list_item img {
  width: 40px;
}
.main_details_box {
  width: 92%;
  background-color: #131313;
  height: 87px;
  display: flex;
  box-shadow: 0px 2px 6px -2px #0a0101;
  margin: 1rem auto 1rem auto;
  align-items: center;
}
.user_info {
  margin-left: 2rem !important;
  color: #9ac7c8;
}
.main_details_box img {
  width: 60px;
  margin: 0 0.5rem;
}
.arrow_icon {
  display: flex;
  line-height: 5rem;
  margin-top: 50px;
  flex-direction: column;
}
.arrow_icon button {
  /* background-color: white;
 box-shadow: 1px 2px 8px 2px #80808063; */
  background-image: linear-gradient(to bottom, #f1f2f3, #adabac, #8a7d7d9e);
  border: none !important;
  display: flex;
  border-radius: 3px;
  /* box-shadow: 2px 3px 4px 1px #ad9ea3; */
  margin: 20px auto;
  align-items: center;
}
.arrow_icon svg {
  font-size: 35px;
  /* margin: 1rem 0; */
  color: black;
}
.dump_btn_box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dump_btn_box button {
  border: none;
  margin: 0 1rem;
  color: #f3eaeab5;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #4e5150, #525252, #213535);
}
.form-check-input {
  width: 2em;
  height: 2em;
}

@media (max-width: 690px) {
  .arrow_icon svg {
    font-size: 32px;
  }
}
@media (max-width: 629px) {
  .t_list {
    display: none;
  }
  .user_info {
    margin-left: 1rem;
  }
  .user_list_item {
    height: 25px;
  }
  .main_tabs .users_list {
    background-color: #131313d9;
  }
  .nav-pills .nav-link {
    font-weight: 500;
  }
  .nav-pills .nav-link.active {
    background-color: #111012;
  }
}
@media (max-width: 470px) {
  .main_details_box {
    margin: 2rem auto 1rem auto;
  }
}
@media (max-width: 375px) {
  .user_info {
    margin-left: 1rem !important;
  }
}
