body {
  background-color: #b7d9df21 !important; 
}
.main_tabs {
  width: 100%;
  display: none;
}
.nav-item {
  width: 50%;
}
.nav-pills .nav-link {
  width: 100%;
}
.users_main {
  padding-top: 1rem;
  width: 100%;
  height: 90vh;
}
.users_list_box {
  width: 90%;
  height: 50%;
  background-color: white;
  margin: 0 auto;
}
.users_details_box {
    width: 90%;
    height: 26%;
    background-color: white;
    margin: 15px auto 0 auto;
}
.dump_btn_box {
    width: 90%;
    margin: 0 auto;
}

/*  */
.t_list {
    width: 100% !important;
}
.main_tabs .main_box {
  width: 90%;
}
.main_tabs .mu_box h2 {
  display: none;
}

@media (max-width:629px) {
  .main_tabs {
      display: block;
  }
  .main_tabs .main_box {
    height: max-content;
  }
  .users_main {
    height: max-content;
    /* padding-bottom: 2rem; */
  }
  .user_pic img {
    width: 78px !important;
  }
  .users_list {
    height: 239px !important;
    margin-bottom: 3rem;
  }
  .main_details_box {
    margin: 1.5rem 0;
  }
  .main_tabs .dump_btn_box  {
    width: 100% !important;
    padding-bottom: 2rem;
  }
}
