
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_tabs {
  width: 100%;
  background-image: url(./assets/Attachment_1616209950.jpeg);
  height: 100%;
  background-size: cover;
  display: none;
}
.nav-item {
  width: 50%;
}
.nav-pills .nav-link {
  width: 100%;
  color: white;
}
.users_main {
  padding-top: 1.5rem;
  width: 100%;
  height: 90vh;
}
.users_list_box {
  width: 90%;
  height: 50%;
  background-color: white;
  margin: 0 auto;
}
.users_details_box {
  width: 90%;
  height: 26%;
  background-color: white;
  margin: 15px auto 0 auto;
}
.dump_btn_box {
  width: 90%;
  margin: 0 auto;
}
.dump-form {
  display: flex !important;
  align-items: center !important;
}
.x-label {
  margin-left: 0.4em;
  font-weight: bold;
}
/*  */
.t_list {
  width: 100% !important;
}
.main_tabs .main_box {
  width: 90%;
}
.main_tabs .mu_box h2 {
  display: none;
}

@media (max-width: 629px) {
  .main_tabs {
    display: block;
    height: 100vh;
  }
  .main_tabs .main_box {
    height: max-content;
    width: 64%;
  }
  .users_main {
    height: max-content;
    padding-top: 1.2rem;
    /* padding-bottom: 2rem; */
  }
  .user_pic img {
    width: 55px !important;
  }
  .users_list {
    height: 356px !important;
  }
  .main_details_box {
    margin: 1.5rem 0;
  }
  .main_tabs .dump_btn_box {
    width: 100% !important;
    /* padding-bottom: 2rem; */
  }
  .mbv-arrow {
    width: 36%;
    text-align: end;
    font-size: 1rem;
  }
  .mbv-arrow svg {
    font-size: 1.5rem !important;
    color: #000;
  }
  .mbv-arrow button {
    background-color: #ececec;
    border: none;
    box-shadow: 0px 2px 2px 1px #ad9ea3;
  }
}
@media (max-width: 473px) {
  .mbv-arrow {
    width: 29%;
  }
}
@media (max-width: 425px) {
  .main_tabs .dump_btn_box {
    /* padding-bottom: 0.2rem; */
  }
  .main_tabs .main_box {
    height: max-content;
    width: 76%;
  }
  .mbv-arrow {
    width: 22%;
  }
}
@media (max-width: 383px) {
  .mbv-arrow {
    width: 15%;
  }
  .mbv-arrow svg {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 333px) {
  .mbv-arrow {
    width: 10%;
  }
}
